dt {
    width: 15% !important;
}

dd {
    margin-left: 16% !important;
}
#rightDiv, #leftDiv {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
#rightDiv {
    border-left: 2px solid black;
    padding-left: 15px;
}
.extraDetails {
    font-weight: bold;
    color: #E23636;
    margin-bottom: 15px;
}