@model IEnumerable<RAC.RACModels.CompetenciesViewModel>
<div class="panel-group">
    <div class="panel panel-default">
            <button class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseFeatures" data-target='#GenEdCompRes'>
                General Education Competencies
            </button>
        <div id="GenEdCompRes" class="collapse in">
            <div class="panel-body">
                <table class="table table-responsive">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CompetencyCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompetencyDescription)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompetencyCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompetencyDescription)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

