@Scripts.Render("~/Scripts/popup.js")
@Styles.Render("~/Styles/popup.css")

<!-- The details for this partial view are contained in the popup.js and popup.css files-->

<div id="pageBlur">
    <div id="messageBox">
        <img alt="Close Icon" src="~/Images/close_icon.png" id="closeBtn" height="25" width="25" />
        <h2 id="popupHeader"></h2>
        <p id="popupContent"></p>
    </div>
</div>