@{
    ViewBag.Title = "About";
}

@section styles {
    @Styles.Render("~/Styles/about.css")
}

<h2>Introduction</h2>
<p>
    The Recognition of Acquired Competencies (RAC) service at Cégep Heritage College makes it possible for an employee to receive academic credit(s) for skills and knowledge gained through workplace and life experience, in order to obtain an Attestation of College Studies (AEC) or a Diploma of College Studies (DEC), in his or her field of employment.
</p>
<hr />
<h2>The Principles of RAC</h2>
<p>
    The RAC process proposed by Cégep Heritage College enables employees to be evaluated for their competencies acquired through workplace and life experience. In other words, RAC provides another way of meeting the expected standards and requirements of college level studies.
</p>
<p>
    Employees can benefit from the recognition of their acquired competencies, as long as they can demonstrate their competencies through formal, yet flexible assessment and evaluation activities. These activities can take many forms and may consist of assignments, interviews, review of available documentation, and workplace observation. Employees who possess significant relevant experience to a program of study <span class='underlinedText'>may obtain an AEC entirely through RAC.</span>
</p>
<p>The benefits of RAC are to:</p>
<ul>
    <li><span class='glyphicon glyphicon-ok listIcon'></span> Avoid the repetition of training for competencies already acquired</li>
    <li><span class='glyphicon glyphicon-ok listIcon'></span> Obtain formal recognition from the Ministère de l’Éducation, et de l’Enseignement Supérieur du Québec</li>
    <li><span class='glyphicon glyphicon-ok listIcon'></span> Stay on the job during the process</li>
    <li><span class='glyphicon glyphicon-ok listIcon'></span> Save the expense of returning to school</li>
    <li><span class='glyphicon glyphicon-ok listIcon'></span> Improve the employability and income of the employee</li>
</ul>
<p>The evaluation for the purposes of RAC adheres to the following principles:</p>
<ul>
    <li><span class='glyphicon glyphicon-ok listIcon'></span> Evaluation activities focus on learning acquired through relevant workplace and life experience, and not on years of experience (experience alone does not guarantee the integration of learning);</li>
    <li><span class='glyphicon glyphicon-ok listIcon'></span> Evaluation activities are fair and equitable and the applicant benefits from a context that is favourable and suited to demonstrating his/her competencies; and</li>
    <li><span class='glyphicon glyphicon-ok listIcon'></span> RAC candidates can obtain missing components of education or training, if need be, based on a customized, personalized formula when he/she was not able to meet the requirements of the competency through RAC. </li>
</ul>
<p>Cégep Heritage College recognizes that this process requires a sustained commitment on the part of the applicant to see the process through. The College understands the importance of providing a service that is flexible in order to minimize disruptions for both the employee and the employer.</p>
<hr />
<h2>The RAC Process</h2>
<p>The process for the recognition of acquired competencies must include the steps underlined below, that is to say:</p>
<ol>
    <li><b>Initial meeting</b> (by phone or in person) – to provide information about RAC, the process and the requirements;</li>
    <li><b>File preparation –</b> the candidate completes a self-assessment of their competencies, and assembles all required documents;</li>
    <li>
        <b>File analysis –</b> the documents are reviewed by the College to determine eligibility; <br />
        <p><b>Note:</b> After the eligibility is determined, the applicant applies to the College if not already admitted. The next steps will take place once admitted.</p>
    </li>
    <li>
        <b>Validation interview – </b>to validate the candidate’s competencies based on his/her
        self-assessment and determine the next steps (i.e. recommend the evaluation of a competency or recommend formal training);
    </li>
    <li><b>Evaluation activities –</b> the candidate demonstrates his/her acquired competencies and is evaluated; and</li>
    <li><b>Results and certification – </b>depending on the outcome of the evaluation, the candidate receives certification, or is provided with formal training to complete any outstanding competencies.</li>
</ol>
<hr />
<h2>Programs</h2>
<h4>Attestation of College Studies (AEC) offered through RAC:</h4>
<ul>
    <li>
        <span class='glyphicon glyphicon-ok listIcon'></span> <a href='http://www.cegep-heritage.qc.ca/conted/aecs/standard/microsoft_network_and_security_administrator.php'>Microsoft Networks and Security Administrator</a>
    </li>
    <li>
        <span class='glyphicon glyphicon-ok listIcon'></span> <a href='http://www.cegep-heritage.qc.ca/conted/aecs/standard/bilingual_office_administration.php'>Bilingual Office Administration</a>
    </li>
    <li>
        <span class='glyphicon glyphicon-ok listIcon'></span> <a href='http://www.cegep-heritage.qc.ca/conted/aecs/standard/early_childhood_care_and_education.php'>Early Childhood Care and Education</a>
    </li>
</ul>
<p>
    Note: These one-year compressed programs may be considered equivalent to two years of college studies because of the total number of hours of the program.
</p>

<h4>Diploma of College Studies (DEC) offered through RAC:</h4>
<ul>
    <li>
        <span class='glyphicon glyphicon-ok listIcon'></span> <a href='http://www.cegep-heritage.qc.ca/Programs/Accounting_Manage_Commerce/profile.php'>Accounting and Management Technology</a>
    </li>
    <li>
        <span class='glyphicon glyphicon-ok listIcon'></span> <a href='http://www.cegep-heritage.qc.ca/Programs/Computer_Science/profile.php'>Computer Science</a>
    </li>
    <li>
        <span class='glyphicon glyphicon-ok listIcon'></span> <a href='http://www.cegep-heritage.qc.ca/Programs/ECCE/profile.php'>Early Childhood Care and Education</a>
    </li>
</ul>
<p>Note: Three-year diploma programs.</p>
<hr />
<h2>Fees</h2>
<p>Cégep Heritage College is tuition free for Quebec residents. There is an application fee of $30, a file review of $30, and an evaluation fee of $50 per course competency or group of competencies, up to a maximum of $600 for an AEC and $1,200 for a DEC. Regular course fees may apply if an applicant must take a course. </p>
<hr />
<h2>Application</h2>
<p>
    To be admitted to Cégep Heritage College, applicants must meet the admission requirements of the program and provide proof of their Quebec residency status. Please contact the RAC Advisor for more information about admission requirements and procedure.
</p>
<hr />
<h2>
    Recognition of Formal Training
</h2>

<p>
    In addition to RAC, Cégep Heritage College may also recognize training received from another educational institution if it is deemed equivalent to the requirements of the course.
</p>