
@{
    ViewBag.Title = "ReleaseNotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ReleaseNotes</h1>

<!--Release notes format:    
    
    <MUST_INCLUDE>
        <h3>Version major.minor.sprint.build</h3>
    
        <h4>===TLDR===</h4>
        <ul>
            <li></li>
        </ul>
    </MUST_INCLUDE>    


    <h4>===Added===</h4>
    <ul>
        <li></li>
    </ul>

    <h4>===Updated===</h4>
    <ul>
        <li></li>
    </ul>

    <h4>===Removed===</h4>
    <ul>
        <li></li>
    </ul>

    <h4>===Fixed===</h4>
    <ul>
        <li></li>
    </ul>
-->
<h3>Version 2.2.5.x</h3>
<h4>===TLDR===</h4>
<ul>
    <li>Nothing added that users will see.</li>
    <li></li>
</ul>

<h4>===Added===</h4>
<ul>
    <li>This document; you can see the release notes now.</li>
    <li>Bunch of back end stuff for production realse.</li>
    <li>Better help for users: tool tips, documentation, etc..</li>
    <li></li>

</ul>

<h4>===Updated===</h4>
<ul>
    <li>Updated our authentication system. Migrated to MS Identities framework.</li>
    <li>Backend changes to merge some pages for RAC advisors and Candidates.</li>
    <li>Made errors on the self-evaluation page more obvious to users.</li>
    <li>Documents upload automatically when dropped, no need to click a button.</li>
    <li>Minor adjustments to the printable self-evaluations.</li>
</ul>

<h4>===Fixed===</h4>
<ul>
    <li>Confusing phrasing of true/false fields for RAC advisor fixed.</li>
    <li>Some users wouldn't log off properly - this has been fixed.</li>
    <li>Provinces was a text box, so it's been changed to a dropdown.</li>
    <li>Disclaimer now goes to the Heritage college disclaimer and not the home page.</li>
    <li>Notifications no longer show up empty sometimes.</li>
    <li>Tab order on the registration page is no longer random.</li>
    <li>Sessions last much longer now; they were very short.</li>
    <li>Scroll buttons were a little inconsistent, they've been fixed now.</li>
    <li>Your self-evaluations save 100% properly now.</li>
    <li>When viewing names, they automatically get capitalized now so you can be lazy.</li>
    <li>Handful of typos.</li>
    <li>Handful of other back end things that won't affect anything you'll see.</li>
</ul>

<h3>Version 2.2.4.x</h3>
<h4>===TLDR===</h4>
<ul>
    <li>Migrated login frameworks</li>
    <li>Added proper content to various empty pages.</li>
    <li>Allowed passing of documents to candidates.</li>
    <li><i>Many</i> bug fixes.</li>
</ul>

<h4>===Added===</h4>
<ul>
    <li>Proper content has been added to the About page.</li>
    <li>Proper content has been added to the Contact page.</li>
    <li>RAC Advisors are now able to upload contracts for the Candidates to download.</li>
    <li>Implemented the notification system on the Candidate's dashboard.</li>
    <li>Added a back button to compliment the browser functionality.</li>
</ul>

<h4>===Updated===</h4>
<ul>
    <li>Updated our authentication system. Migrated to MS Identities framework.</li>
    <li>Backend changes to merge some pages for RAC advisors and Candidates.</li>
    <li>Made errors on the self-evaluation page more obvious to users.</li>
    <li>Documents upload automatically when dropped, no need to click a button.</li>
    <li>Minor adjustments to the printable self-evaluations.</li>
</ul>

<h4>===Fixed===</h4>
<ul>
    <li>Confusing phrasing of true/false fields for RAC advisor fixed.</li>
    <li>Some users wouldn't log off properly - this has been fixed.</li>
    <li>Provinces was a text box, so it's been changed to a dropdown.</li>
    <li>Disclaimer now goes to the Heritage college disclaimer and not the home page.</li>
    <li>Notifications no longer show up empty sometimes.</li>
    <li>Tab order on the registration page is no longer random.</li>
    <li>Sessions last much longer now; they were very short.</li>
    <li>Scroll buttons were a little inconsistent, they've been fixed now.</li>
    <li>Your self-evaluations save 100% properly now.</li>
    <li>When viewing names, they automatically get capitalized now so you can be lazy.</li>
    <li>Handful of typos.</li>
    <li>Handful of other back end things that won't affect anything you'll see.</li>
</ul>



