html, body {
	height: 100%;
}

h2 {
	color: #008598;
	text-decoration: underline;
}

.content {
	margin: 1% 0 5% 0;
	background-color: #f8f8f8;
	border-top: thin solid #e7e7e7;
	border-bottom: thin solid #e7e7e7;
	padding: 1% 5% 5% 5%;
	border-radius: 2px;
}

dt {
	font-size: 1.3em; 
}

dd {
	display: block;
	padding-left: 3%;
}

dd p {
	font-size: inherit;
}

.container {
	width: 60%;
	margin: auto;
}

#banner-navbar {
	background-color: #008598;
	color: white;
	display: flex;
}

.navbar-default {
	border: none;
	border-radius: 0;
}

.navbar-nav .open a .caret { 
	border-top: none;
	border-bottom: 4px solid #000000; 
}

embed { width: 100%; }
img.ref { width: 100%; }
#banner-navbar container { color: white; }	
#banner-bottom ul li { display: inline-flex; }
.header-navigation li { display: inline; }
li > p { margin: 0 }
.header-navigation li ul li { display: block; }
.banner .banner-top { box-shadow: -1px 10px 10px #555; }
.container hr { margin: 0; }
.container #banner-bottom { margin-bottom: 0; }
.navbar-header-right { float: right; }
.navbar-burger hr { color: black; }
.navbar-burger { display: none; }
.navbar-default .navbar-brand { color: white; }
.navbar-default .navbar-nav>li>a { color: white; }
.navbar-header a h3 { margin: 0; }
.main > div { display: none; }
.main * p { font-size: 1.2em; }
#imgTop { display: none; }
#img-mobile-logo { display: none; }
.mobile-show { display: none; }
.footer div span h2 { padding: 0; }
.footer div span * { color: white; }
.footer div span  { color: white; }
#banner-bottom * a:hover{background-color: #0096a9; color: white;}

.footer div span:last-child { 
	float: right;
	position: relative;
	bottom: 40px;
	right: 50px; 
}

.dropdown-menu li { width: 100%; }
.dropdown-menu li a { width: 100%; }
.active-page { background-color: #0096a9; color:white!important;}

.footer div {
	width: 100%;
	background: linear-gradient( 40deg, #0096a9 50%, #008598 50% );
	padding: 2%;
	display: block;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a { color: white; }
}

@media screen and (max-width: 1200px) {
	.container {
		width: 80%;
		margin: auto;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 90%;
		margin: auto;
	}
}

@media screen and (max-width: 768px) {
	.navbar-hide { display: none; }
	.navbar { margin-bottom: 0; }
	#banner-bottom ul li { display: block; text-align: left;}
	#banner-navbar { padding-left: 5%; }
	#img-mobile-logo { display: inline; }
	.navbar-brand h3 { font-size: 1em; }
	.navbar-header-right .navbar-brand { display: none; }
	.mobile-show { display: inline; }
	
	.container {
		padding-left: 0;
		margin: auto;
	}
	
	.content {
		margin: 0;
		background-color: #f8f8f8;
		border: thin solid #e7e7e7;
		padding: 60px 5%;
	}
	
	.navbar-brand {
		float: left;
		height: 50px;
		padding: 15px 0 15px 0;
		font-size: 18px;
		line-height: 20px;
	}	
	
	.footer div {
		width: 100%;
		background: #008598 !important;
		display: block;
		float: none;
		text-align: center;
	}
	
	.footer div span:last-child { 
		float: none; 
		margin: 0; 
	}
	
	#imgTop {
		display: block;
		z-index: 100;
		position: fixed;
		right: 9px;
		bottom: 9px;
		float: right;
	}
	
	.navbar-burger { 
		display: block;
		float: right;
		margin: 15px 3% 0 0;
		height: 24px;
		width: 26px;
		border: thin solid white;
		border-radius: 7px;
		text-align: center;
	}
	
	.navbar-burger * {
		width: 18px;
		height: 2px;
		border-radius: 5px;
		background-color: white;
		display: block;
		margin: 4px auto;
		transition: 0.4s;
	}
	
	.change .burger-bar1 { transform: rotate(-45deg) translate(-5px, 4px); width: 15px; }
	.change .burger-bar2 {opacity: 0;}
	.change .burger-bar3 { transform: rotate(45deg) translate(-4px, -4px); width: 15px; }
	
	.footer div span:last-child { 
		float: none;
		position: relative;
		bottom: inherit;
		right: inherit; 
	}
}