<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>http://csdev.cegep-heritage.qc.ca</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/projects/CSAdmin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <UserName>apyke</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CSAdminConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=csdev.cegep-heritage.qc.ca;Initial Catalog=CSAdmin_2;Integrated Security=False;User ID=CSAdmin;Password=csadmin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CSAdminConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=csdev.cegep-heritage.qc.ca; initial catalog=CSAdmin_2;Integrated Security=false;User id=CSAdmin;Password=csadmin" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CoopConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=csdev.cegep-heritage.qc.ca;Initial Catalog=ECoop;Integrated Security=False;User ID=ecoop;Password=ecoop" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CoopConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=csdev.cegep-heritage.qc.ca; initial catalog=ECoop;Integrated Security=false;User id=ecoop;Password=ecoop" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LDAPConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LDAP://DC1.cegep-heritage.qc.ca" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LDAPConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LDAP://DC1.cegep-heritage.qc.ca" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CESConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=csdev.cegep-heritage.qc.ca;Initial Catalog=CES;Integrated Security=False;User ID=ces;Password=cesces" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CESConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=csdev.cegep-heritage.qc.ca; initial catalog=CES;Integrated Security=false;User id=ces;Password=cesces" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CESConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CoopConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CSAdminConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LDAPConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>