@model List<string>

<h2>Comptencies for Computer Science</h2>
<table>
    @foreach (string item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>           
        </tr>
    }
</table>

