@* Relevant JavaScript and CSS files are called withing the ~/Views/Shared/_Layout.cshtml file. *@
<div id='divScrollButtons'>
    <button class='btn btn-default btn-sm' id='btnScrollToTop'>
        <span class='glyphicon glyphicon-menu-up'></span>
    </button>

    <br />
    <br />

    <button class='btn btn-default btn-sm' id='btnScrollToBottom'>
        <span class='glyphicon glyphicon-menu-down'></span>
    </button>
</div>