@* This is from the migration branch.*@
@* This comment is from the main branch *@
@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@{try
    {
        @Html.Raw("<p>" + Model.Exception.Message + "</p>")
              }
  catch
  {
      // ignored
  }
}

