@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div>
    <div class="container-fluid">
        <p>
            The CS Application Administration system was created as part of the Maintenance
            project by the Winter 2012 3<sup>rd</sup> year Computer Science class:
        </p>
    </div>

    <ul>
        <li>Myriam Derome</li>
        <li>Jean-Michel Dunn</li>
        <li>Justin Hum</li>
        <li>Renee Ghattas</li>
        <li>Weiman Guo</li>
        <li>Louis-Philippe Labelle Cloutier</li>
        <li>Nicholas Renaud</li>
        <li>Matthew Riopel</li>
    </ul>
    <br/>

    <div>
        <p>The system was later refactored and updated to C# as part of the Maintenance project by the Winter 2018 3<sup>rd</sup> year Computer Science class:</p>
    </div>

    <ul>
        <li>Zachary Bridge</li>
        <li>Jeremy Clarke</li>
        <li>Philip Dumauresq</li>
        <li>Andrew Ha</li>
        <li>Martin Lurette</li>
        <li>Troy Mclean</li>
        <li>Guillaume Mercier</li>
        <li>Thomas Plouffe</li>
        <li>Brae Walker</li>
    </ul>

</div>