<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://csdev.cegep-heritage.qc.ca</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Projects/RACV2/Sandbox</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>1429189</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RacModelContainer" Order="1" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RAC.RACModels.RacModelContainer, RAC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CSAdminUsers" Order="2" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RAC.CSAdminModel.CSAdminUsers, RAC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MSIdentityConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RAC.Models.ApplicationDbContext, RAC" MigrationConfiguration="RAC.Migrations.Configuration, RAC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ADConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LDAP://DC01.cegep-heritage.qc.ca" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ADConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LDAP://DC01.cegep-heritage.qc.ca" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Clara" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=csdev.cegep-heritage.qc.ca;Integrated Security=False;User ID=team2RAC;Password=SweetRAC123;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Clara_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=csdev.cegep-heritage.qc.ca;Integrated Security=False;User ID=team2RAC;Password=SweetRAC123;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ADConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Clara-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CSAdminUsers-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MSIdentityConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RacModelContainer-Web.config Connection String" />
  </ItemGroup>
</Project>