
@{
    ViewBag.Title = "Reset Password Email Sent";
}
@Html.ActionLink(" ", "Login", "Account", null, new { id = "btnBack", @class = "bottomNav btn btn-default glyphicon glyphicon-arrow-left" })
<h2>Password Reset Email Sent</h2>
<p>
    You should have received an email with a link to the password reset page.
</p>
