@{
    ViewBag.Title = "Privacy Policy";
}

<h1>Privacy Policy</h1>

<p>PRIVACY POLICY LAST UPDATE OF THIS PRIVACY POLICY - [April 30, 2018]. Legal approval pending. </p>

<h3>BEFORE USING OUR SITE, PLEASE READ THIS PRIVACY POLICY CAREFULLY.</h3>

<p>This Privacy Policy is applicable to Cégep Heritage College Web Site and sets out our policy on the collection and use of information on this site. The College is committed to providing a secure web site for users and to respecting your privacy. The College complies with Canadian Federal and Provincial privacy laws and regulations including the Personal Information and Electronic Documents Act. </p>
<p>This Privacy Policy applies only to our site and not to web sites of other organizations to which our Sites may be linked. These links to third party websites are provided as a convenience and are for informational purposes only. The College does not endorse, and is not responsible for, these linked websites.</p>

<p>Although you are not required to register to access our site, you may be asked to provide us with personal information when you visit certain sections of our site. Your use of our site signifies your acknowledgement and consent to our Privacy Policy. If you do not agree to this Privacy Policy, please do not continue to use our site. Your continued use of the site signifies your acceptance of these terms and any changes in effect at the time of use.</p>

<h3>COLLECTION OF PERSONAL INFORMATION</h3>
<p>Personal Information is information about you that identifies you as an individual, for example, your name, address, e-mail address, or telephone number. </p>

<p>We collect information that you voluntarily provide to us through responses to surveys, search functions, questionnaires, feedback, Tell Your Story forms and the like. On our site, we may ask you to provide additional information such as your e-mail address if you want to obtain additional services, information, participate in a selection process or to resolve complaints or concerns. You may also be required to submit information when creating an account for one or more of our services. </p>

<h3>HOW DOES COLLEGE USE INFORMATION GATHERED ABOUT VISITORS? </h3>
<p>Before forwarding us any personal information, please be advised that any information submitted on our site may be used in the aggregate for research and development relating to our site and/or for future site development and, if you ask us to, to send you promotional materials, as well to register for services provided by the College. In particular, we may use information gathered about you for the following purposes: to monitor interest in our range of course offering and to assist us to tailor the content of our site to your needs by collecting information about your preferences through tracking of patterns page views on our site; to create a profile relating to you in order to show you the content that might be of interest to you and to display the content according to your preferences; and, in circumstances where you have indicated that you wish to receive additional information, to send you information about us and promotional material about our products together with details of any offers we may have available from time to time. </p>

<h3>PROMOTIONAL AND INFORMATIONAL OFFERS</h3>
<p>With the permission of an online visitor, information submitted at the time of registration or submission may be used for marketing and promotional purposes by the College provided notice of this fact is made available online. If a visitor objects to such use for any reason, he/she may prevent that use, either by email request or by modifying the registration information provided. The College uses reasonable efforts to maintain visitors' information in a secure environment. If you have submitted personal information and want to change it or opt-out, please contact us as described below.</p>

<h3>DISCLOSURE OF INFORMATION</h3>
<p>
    The College will not disclose personal information that you provide on its site to any third parties except: i) in accordance with the terms of this Privacy Policy, or ii) to comply with legal requirements such as a law, regulation, warrant, subpoena or court order, and/or iii) if you are reporting an adverse event/side effect, in which case the College may be required to disclose such information to bodies such as, but not limited to, Canadian and/or international regulatory authorities. Please note that any of these
    disclosures may involve the storage or processing of personal information outside of Canada and may therefore be subject to different privacy laws than those applicable in Canada, including laws that
    require the disclosure of personal information to governmental authorities under circumstances that are different than those that apply in Canada.
</p>

<h3>COOKIES</h3>
<p>
    The College, in common with many web site operators, may use standard technology called "cookies" on its site. Cookies are small data files that are downloaded onto your computer when you visit a particular
    web site. You can disable cookies by turning them off in your browser; however, some areas of the site
    may not function properly if you do so.
</p>

<h3>ADDITIONAL TERMS FOR CERTAIN WEBSITES</h3>
<p>
    The following additional information applies to our site that require registration. Generally, you are not
    required to provide personal information as a condition of using our site, except as may be necessary to provide you with a product or service that you have requested. However, some sections of our site are
    restricted to certain individuals and we may require these individuals to register upon entry by providing us with certain information.
</p>


<h3>PROTECTION OF INFORMATION:</h3>

<h4>Our Commitment to Security</h4>
<p>We have put in place physical, electronic, and managerial procedures to safeguard and help prevent unauthorized access, maintain data security, and correctly use the information we collect online. The College applies security safeguards appropriate to the sensitivity of the information, such as retaining information in secure facilities and making personal information accessible only to authorized employees on a need-to-know basis. </p>

<h4>Storage of Information: </h4>
<p>Personal information you share with us is stored on our database servers at the College data centers, or hosted by third parties who have entered into agreements with us that require them to observe our Privacy Policy.</p>

<h4>POLICY CHANGE: </h4>
<p>If we alter our Privacy Policy, any changes will be posted on this page of our Site so that you are always informed of the information we collect about you, how we use it and the circumstances under which we may disclose it. </p>

<h4>ACCEPTANCE OF OUR PRIVACY POLICY: </h4>
<p>By using this site, you signify your acceptance of our Privacy Policy, and you adhere to the terms and conditions posted on the site. By submitting your information, you agree that it will be governed by our Privacy Policy.</p>