<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="CSAdminConnectionString" connectionString="data source=cstest.cegep-heritage.qc.ca; initial catalog=CSAdmin;Integrated Security=false;User id=CSAdmin;Password=csadmin" providerName="System.Data.SqlClient"
        xdt:Transform="Replace" xdt:Locator="Match(name)" />
    
    <add name="CoopConnectionString" connectionString="data source=cstest.cegep-heritage.qc.ca; initial catalog=ECoop;Integrated Security=false;User id=ecoop;Password=ecoop" providerName="System.Data.OleDb"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />    
    
    <add name="CESConnectionString" connectionString="data source=cstest.cegep-heritage.qc.ca; initial catalog=CES;Integrated Security=false;User id=ces;Password=ces" providerName="System.Data.OleDb"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />    
    
    <add name="LDAPConnectionString" connectionString="LDAP://heritage-srv-5.cegep-heritage.qc.ca" providerName="System.Data.OleDb"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      -->
    
</configuration>