

.LoadingIcon {
    display: block;
    width: 5%;
    height: 5%;
    margin-left: 0;
    margin-right: auto;
    visibility: hidden;
            
}

.btn-primary {
    width: 100%;
    background-color: #bf8100 !important;
    border: solid thin black;
    font-size: 1.5em !important;
}


@media only screen and (min-width: 768px) {
    .inputControl {
    width: 50%!important;
}
}

